service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(res) {
      return res.data.createdBy == request.auth.uid
    }
    function isOwnerOrPublic(res) {
      return isOwner(res) || res.data.public == true
    }
    // Private user profiles
    match /users/{userId} {
      // Only the user can edit their user object
      allow read, write: if request.auth.uid == userId;
    }
    // Public user profiles
    match /users_public/{userId} {
      allow read;
      allow write: if false; // only written to by indexUser cloud function
    }
    match /projects/{projectId} {
      // Only projects you own can be viewed
      allow create: if isOwner(request.resource);
      allow read, write: if isOwnerOrPublic(resource);
      // Rules apply to all child collections
      match /{allChildren=**} {
        allow read, write: if isOwnerOrPublic(get(/databases/$(database)/documents/projects/$(projectId)));
      }
    }
    match /container_builds/{buildId} {
      // Only logged in users can read container builds (writing is done by onCloudBuildEvent function)
      allow read: if request.auth.uid != null;
      // Rules apply to all child collections
      match /{allChildren=**} {
        allow read: if request.auth.uid != null;
      }
    }
    match /tags/{tagId} {
      // Only logged in users can view/edit tags
      allow read, write: if request.auth.uid != null;
      // Rules apply to all child collections
      match /{allChildren=**} {
        allow read, write: if request.auth.uid != null;
      }
    }
    match /test_groups/{tagGroupId} {
      // Only logged in users can view/edit tags groups
      allow read, write: if request.auth.uid != null;
      // Rules apply to all child collections
      match /{allChildren=**} {
        allow read, write: if request.auth.uid != null;
      }
    }
  }
}
